<!--<p>
  {{message}}<span *ngIf="condition">*</span>
  First num: <input type="number" [(ngModel)]="x" >
  Second num: <input type="number" [(ngModel)]="y" >
  The sum is:{{x+y}}
  &lt;!&ndash;label works!&ndash;&gt;
</p>-->
<label>
  {{propertyName}} <sup *ngIf="required" class="text-danger fs-8"><i class="fas fa-asterisk "></i></sup>
  <span *ngIf="question" class="text-info fs-10 ml-1"><i class="fas fa-question-circle pointerhand" data-toggle="modal" data-target="#myModal" data-backdrop="static" ></i></span>
</label>

<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        This is {{propertyName}}
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
