<!--<p>
  signup works!
</p>-->
<div class="container-fluid bg-light pb-5 pt-4">
  <form>
    <div class="row">
      <div class="form-group col-md-4">
        <app-label [propertyName]="'First name'" [required]="true" [question]="true">This is First name</app-label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="form-group col-md-4">
        <app-label [propertyName]="'Middle name'"></app-label>
        <input type="text" class="form-control" placeholder="Middle name">
      </div>
      <div class="form-group col-md-4">
        <app-label [propertyName]="'Last name'" [required]="true" [question]="true">This is Last name</app-label>
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-4">
        <app-label [propertyName]="'E-mail'" [required]="false"></app-label>
        <input type="text" class="form-control" >
      </div>
      <div class="form-group col-md-4">
        <app-label [propertyName]="'DOB'" [required]="false"></app-label>
        <input type="number" class="form-control" placeholder="dd-mm-yyyy">
      </div>
      <div class="form-group col-md-4">
        <app-label [propertyName]="'Contact#'" [required]="true"></app-label>
        <input type="number" class="form-control" >
      </div>
    </div>
    <button class="btn btn-sm btn-primary float-right m-2" >Submit</button>
    <button class="btn btn-sm btn-secondary float-right m-2" >Reset</button>
    <!--<input type="submit" value="Submit">
    <input type="reset">-->
  </form>
</div>


